* {
  margin: 0;
  padding: 0;
}

:root {
  --bell-red: #ef485d;
  --bell-dark-red: #c40265;
  --bell-pink: #fce4ee;
  --bell-green: rgb(201, 210, 0);
  --bell-black: rgb(53, 62, 69);
  --bell-gray: #5f7280;
  --bell-white: white;
  --success-color: #2cb24a;
  --success-bg: #e6f6e9;
  /* --bell-font: "open sans" */
  --ligth-gray: #ccc;
  --ligth-gray2: #ededed;
  --sticker-card-color: var(--ligth-gray);
  --main-btn-gradient: 90.29deg, #ef485d 0.28%, #ff1837 100%;
  --secondary-btn-gradient: 89.93deg, #9829FF 0.05%, #911DFE 0.06%, #D429FF 160.09%;
  --shadow: 0 2px 5px 1px rgb(0 0 0 / 20%);

  --font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Ubuntu", "Helvetica Neue", sans-serif;
}

* {
  font-family: var(--font);
}

html {
  /* min-height: calc(100% + env(safe-area-inset-top)); */
  /* padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); */
  /* ... */
  /* background-attachment: fixed;
  background-image: url('/bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

body {
  overscroll-behavior: none;
}

/* styles.css */
/*
.left-sidebar {
  padding: env(safe-area-inset-top) 0 0 env(safe-area-inset-left);
}
body {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
*/

/*
чёлка
.element {
    height: env(safe-area-inset-top);
    width: env(safe-area-inset-left);
    margin: env(safe-area-inset-right);
    // you can also use fallback values
    padding: env(safe-area-inset-bottom, 20px);
}
.h-safe-area-inset-top { height: env(safe-area-inset-top); }
.bg-black { background-color: #444; }
*/
